site_name: Gsoc Starter kit 
site_url: https://shadil-rayyan.github.io/gsoc_starter_guide/

repo_name: squidfunk/mkdocs-material
repo_url: https://github.com/shadil-rayyan/gsoc_starter_guide

theme:
  name: material
  logo: images/logo.png
  favicon: images/favicon.ico

  features:
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.progress
    - navigation.tracking
    - navigation.path
    - navigation.top
    - navigation.footer
    - search.highlight
    - search.suggest
    - search.share
    - content.code.copy
    - content.code.annotate

  font:
    text: Roboto
    code: Roboto Mono

  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

plugins:
  - search

extra:
  social:
    - icon: fontawesome/brands/mastodon
      link: https://github.com/shadil-rayyan/gsoc_starter_guide

  consent:
    title: Cookie consent
    description: >-
      We use cookies to recognize your repeated visits and preferences, as well
      as to measure the effectiveness of our documentation.

  analytics:
    provider: google
    property: G-PB32VFXTL0

    feedback:
      title: Was this page helpful?
      ratings:
        - icon: material/emoticon-happy-outline
          name: This page was helpful
          data: 1
          note: Thanks for your feedback!

        - icon: material/emoticon-sad-outline
          name: This page could be improved
          data: 0
          note: >-
            Thanks for your feedback! Help us improve this page using our
            <a href="..." target="_blank" rel="noopener">feedback form</a>.

markdown_extensions:
  - attr_list
  - tables
  - md_in_html

  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.blocks.caption

  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true

  - pymdownx.tabbed:
      alternate_style: true

  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

nav:
  - Home: index.md
  - Are You Good Enough?: gsoc/are_you_good_enough.md

  - Git & GitHub:
      - Git Basics: git/git.md
      - GitHub Basics: git/github.md
      - GitHub Basics: git/gsoc_pr.md



  - Open Source:
      - What is Open Source?: open_source/open_source.md
      - Open Source Organizations: open_source/open_source_org.md
      - How to Contribute to Open Source: open_source/contribute_to_open_source.md


  - Google Summer of Code:
      - Overview: gsoc/overview.md
      - Timeline: gsoc/timeline.md
      - Slots Explained: gsoc/slots.md

  - Choosing:
      - Choosing an Organization: gsoc/choosing_org.md
      - After Choosing an Organization: gsoc/after_choosing_org.md
      - How to Contribute to a GSoC Org: gsoc/contributing_to_org.md

  - After Choosing:
      - Choosing a Project: gsoc/choosing_project.md
      - After Choosing a Project: gsoc/after_choosing_project.md

  - Proposal:
      - Writing a GSoC Proposal: gsoc/proposal.md

  - Contributing & Selection:
      - How Orgs Select Contributors: gsoc/how_orgs_select_contributors.md

  - Final Tips: tips.md
      
